
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<header>
  <nav>
    <a class="navbar-brand" href="/stories">Story Creator</a>
    <form class="login" method="POST" action="/login">
      <input class="form-control" type="email" name="email" placeholder="E-mail" style="width: 300px; margin: 1em">
      <input class="form-control" type="password" name="password" placeholder="Password" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>

    <form method="GET" action="/register">
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </nav>
</header>
