<header>
    <nav class="navbar">
      <a class="navbar-brand" href="/stories">Story Creator</a>
        <form method="GET" action="/login">
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
        <form method="GET" action="/register">
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </nav>
  </header>