<link rel="stylesheet" href="styles/layout.css">

<header>
<<<<<<< HEAD
  <nav>
    <a class="navbar-brand" href="/stories">Story Creator</a>

    <form class="login" method="GET" action="/login">
      <input class="form-control" type="email" name="email" placeholder="E-mail" style="width: 300px; margin: 1em">
      <input class="form-control" type="password" name="password" placeholder="Password" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>

    <form method="GET" action="/register">
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </nav>
</header>
=======
    <nav class="navbar">
      <a class="navbar-brand" href="/stories">Story Creator</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        </div>
      </div>
    </nav>
  </header>
>>>>>>> f1bca1153c6164e146569d321bc96330b2805df1
