<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD

      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">


    <!--Styles-->
    <link rel="stylesheet" href="styles/layout.css">

    <title>Home Page</title>
=======
      <!-- Bootstrap CSS -->
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
>>>>>>> f1bca1153c6164e146569d321bc96330b2805df1

  </head>

  <body>
<<<<<<< HEAD
    <%- include('partials/_header') %>
    <main class="create-stories">
      <div class="container">
        <form method="GET" action="/stories/:id">
          <textarea class="new-story" name="text" placeholder="Start your story here..." rows="6"></textarea>
          <button type="submit" class="submit-button" >Post</button>
          </div>
        </form>
      </div>
    </main>

=======
    <%- include('partials/_header') %>  
    <div class = "content">
      <h1>Welcome!</h1>
      <p>This is a page to create stories</p>
    </div>
    <footer>this is the footer</footer>
>>>>>>> f1bca1153c6164e146569d321bc96330b2805df1
  </body>
</html>
