<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

      <script defer src="/scripts/app.js"></script>

    <!--Styles-->
    <link rel="stylesheet" href="styles/layout.css">

    <title>Home Page</title>

  </head>

  <body>
    <%- include('partials/_header') %>
    <main class="create-stories">
      <div class="container">
        <form method="POST">
          <textarea class="new-story" name="content" placeholder="Start your story here..." rows="6"></textarea>
          <button type="submit" class="submit-button" >Post</button>
          </div>
        </form>
      </div>
    </main>

    <div class="stories-container">
      <div class="completed-stories">
        <h1>Completed Stories</h1>
        <div class="story">
          <header>
            <a href="/stories/:id">Story 1</a>
            <button>Delete</button>
          </header>
           <p>Theme</p>
           <hr>
          <footer>
            <p>Name</p>
            <p>Created at</p>
          </footer>
        </div>
        <div class="story">
          <header>
            <a href="/stories/:id">Story 2</a>
            <button>Delete</button>
          </header>
           <p>Theme</p>
           <hr>
          <footer>
            <p>Name</p>
            <p>Created at</p>
          </footer>
        </div>
        <div class="story">
        <header>
          <a href="/stories/:id">Story 3</a>
          <button>Delete</button>
        </header>
         <p>Theme</p>
         <hr>
        <footer>
          <p>Name</p>
          <p>Created at</p>
        </footer>
      </div>
      </div>

      <div class="inprogress-stories">
        <h1>In-Progress Stories</h1>
        <div class="story">
          <header>
            <a href="/stories/:id">Story 3</a>
            <button>Delete</button>
          </header>
           <p>Theme</p>
           <hr>
          <footer>
            <p>Name</p>
            <p>Created at</p>
          </footer>
          </div>
          <div class="story">
            <header>
              <a href="/stories/:id">Story 3</a>
              <button>Delete</button>
            </header>
             <p>Theme</p>
             <hr>
            <footer>
              <p>Name</p>
              <p>Created at</p>
            </footer>
            </div>
            <div class="story">
              <header>
                <a href="/stories/:id">Story 3</a>
                <button>Delete</button>
              </header>
               <p>Theme</p>
               <hr>
              <footer>
                <p>Name</p>
                <p>Created at</p>
              </footer>
              </div>
    </div>

  </body>
</html>


