<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">


    <!--Styles-->
    <link rel="stylesheet" href="styles/layout.css">

    <title>Home Page</title>

  </head>

  <body>
    <%- include('partials/_header') %>

    <main class="content">
      <div class="stories-container">

      </div>

        <div class="story-start">
          <h1>The Story So Far</h1>
          <div class="story">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non libero diam. Maecenas urna leo, consequat accumsan diam non, porta luctus turpis. Maecenas interdum elementum odio id commodo. Nullam id neque ac elit sollicitudin efficitur. Nunc vehicula augue ac libero convallis interdum. Fusce dictum mi nisl, et faucibus arcu cursus vel. Nunc vitae tempor magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer sagittis, enim ut ultricies ultricies, turpis sapien congue magna, sit amet placerat nisi enim nec tellus. Suspendisse sodales varius erat, et tincidunt lorem feugiat id. Maecenas interdum mauris lobortis, iaculis erat id, condimentum metus. Cras nisl tortor, luctus eu ipsum ut, mattis tincidunt lacus. Aliquam blandit libero a magna tristique, id interdum velit feugiat. Nunc nec cursus lorem, nec tincidunt nisl. Suspendisse pellentesque massa ut lacus aliquam, ac lacinia felis ornare. Sed mollis odio sit amet scelerisque dictum. </p>
          </div>
        </div>




        <div class="contributions-container">

          <main>
            <div class="container">
              <form method="POST" action="/stories/:id">
                <textarea class="newContribution" name="newContribution" placeholder="Start your story here..." rows="6"></textarea>
                <button type="submit" class="submit-button" >Post</button>
              </form>
            </div>
          </main>

          <h1>Contributions</h1>
          <% for (const each of contributions) {%>
            <div class="contribution">
              <header>
                <button>Delete</button>
              </header>
               <p><%= each.contribution %></p>
               <hr>
              <footer>
                <p><%= each.user_id %></p>
                <p><%= each.contributed_at %></p>
              </footer>
              </div>
              <% } %>
          <div class="contribution">
            <header>
              <a href="/stories/:id">Story 3</a>
              <button>Delete</button>
            </header>
            <p>Upvotes</p>
            <hr>
            <footer>
              <p>Name</p>
              <p>Created at</p>
            </footer>
          </div>
        </div>
    </main>

  </body>
</html>
