<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
=======
    <title>Home Page</title>
>>>>>>> f1bca1153c6164e146569d321bc96330b2805df1

      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">


    <!--Styles-->
    <link rel="stylesheet" href="styles/layout.css">

    <title>Home Page</title>

  </head>

  <body>
    <%- include('partials/_header') %>

    <div class="edit-profile">
      <h2>Edit Profile</h2>
    </div>

    <div class="users-container">
      <div class="my-stories">
        <h1>My Stories</h1>
        <div class="box">
          <header>
            <a href="/stories/:id">Story 1</a>
            <button>Delete</button>
          </header>
           <p>Theme</p>
           <hr>
          <footer>
            <p>Name</p>
            <p>Created at</p>
          </footer>
        </div>


      </div>

      <div class="my-contributions">
        <h1>My Contributions</h1>
        <div class="box">
          <header>
            <a href="/stories/:id">Story 1</a>
            <button>Delete</button>
          </header>
           <p>Theme</p>
           <hr>
          <footer>
            <p>Name</p>
            <p>Created at</p>
          </footer>
        </div>


      </div>

      <div class="my-favourites">
        <h1>My Favourites</h1>
        <div class="box">
          <header>
            <a href="/stories/:id">Story 3</a>
            <button>Delete</button>
          </header>
           <p>Theme</p>
           <hr>
          <footer>
            <p>Name</p>
            <p>Created at</p>
          </footer>
          </div>

    </div>

  </body>
</html>
