// See: https://sass-lang.com/

.navbar{
  background-color: #4E5166;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
}
.navbar-brand{
  color: #F4FAFF;
  font-family: 'Monoton', cursive;
}
.navbar-brand:hover{
  color: #DEE7E7;
}
body {
  background-color: #7C90A0;
  color: #DEE7E7;
  font-family: 'Cormorant Garamond', serif;
}
button {
  background-color: #4E5166;
  color: #DEE7E7;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.stories{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


